<p>Add a place to the list:</p>
<form action = "/tasks" method = "post">
  <label for = "description">Place</label>
  <input id = "description" name = "description" type = "text" placeholder="Portland">

  <button type = "submit"> Add Place </button>

</form>
