<!DOCTYPE>
<html>
<head>
  <title>Places</title>
  <link href='https://bootswatch.com/superhero/bootstrap.min.css' rel='stylesheet'>
  <link href='/style.css' rel='stylesheet'>
</head>
<body>
  <div class="container ah-main-container">
    <h1>PLACES</h1>
    <%= yield %>
  </div>
</body>
</html>
